IMPORTING THE LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

IMPORTING THE DATASET

In [2]:
train_dataset = pd.read_csv('train.csv')
test_dataset = pd.read_csv('test.csv')

In [3]:
train_dataset.sample()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
30737,YAK/S/43899,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,2,1989,7.5,2012,0,0,45,LAGOS,Yes,Married,No,No,0,0
35749,YAK/S/51089,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1990,12.5,2014,0,0,38,ONDO,Yes,Married,No,No,2,0
17964,YAK/S/25632,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,3,1992,0.0,2018,0,0,37,BAUCHI,Yes,Married,No,No,1,0
19399,YAK/S/27653,Customer Support and Field Operations,First Degree or HND,Female,Agency and others,2,1981,5.0,2011,0,0,52,OGUN,Yes,Single,No,Yes,1,0
7464,YAK/S/10568,People/HR Management,First Degree or HND,Female,Referral and Special candidates,2,1977,7.5,2007,0,0,41,ONDO,Yes,Single,No,No,0,0

In [4]:
train_dataset.shape

(38312, 19)

In [5]:
train_dataset.dtypes

EmployeeNo                              object
Division                                object
Qualification                           object
Gender                                  object
Channel_of_Recruitment                  object
Trainings_Attended                       int64
Year_of_birth                            int64
Last_performance_score                 float64
Year_of_recruitment                      int64
Targets_met                              int64
Previous_Award                           int64
Training_score_average                   int64
State_Of_Origin                         object
Foreign_schooled                        object
Marital_Status                          object
Past_Disciplinary_Action                object
Previous_IntraDepartmental_Movement     object
No_of_previous_employers                object
Promoted_or_Not                          int64
dtype: object

In [6]:
train_dataset.columns

Index(['EmployeeNo', 'Division', 'Qualification', 'Gender',
       'Channel_of_Recruitment', 'Trainings_Attended', 'Year_of_birth',
       'Last_performance_score', 'Year_of_recruitment', 'Targets_met',
       'Previous_Award', 'Training_score_average', 'State_Of_Origin',
       'Foreign_schooled', 'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers',
       'Promoted_or_Not'],
      dtype='object')

In [7]:
train_dataset['No_of_previous_employers'].unique()

array(['0', '1', '4', '3', '2', 'More than 5', '5'], dtype=object)

In [8]:
train_dataset.select_dtypes(exclude='object').columns

Index(['Trainings_Attended', 'Year_of_birth', 'Last_performance_score',
       'Year_of_recruitment', 'Targets_met', 'Previous_Award',
       'Training_score_average', 'Promoted_or_Not'],
      dtype='object')

SEPERATING THE CATEGORICAL FEATURES FROM  NUMERICAL FEATURES

In [9]:
cat_feats = list (train_dataset.select_dtypes(include = 'object').columns)
num_feats = list (train_dataset.select_dtypes(exclude = 'object').columns)

In [10]:
num_feats

['Trainings_Attended',
 'Year_of_birth',
 'Last_performance_score',
 'Year_of_recruitment',
 'Targets_met',
 'Previous_Award',
 'Training_score_average',
 'Promoted_or_Not']

In [11]:
cat_feats

['EmployeeNo',
 'Division',
 'Qualification',
 'Gender',
 'Channel_of_Recruitment',
 'State_Of_Origin',
 'Foreign_schooled',
 'Marital_Status',
 'Past_Disciplinary_Action',
 'Previous_IntraDepartmental_Movement',
 'No_of_previous_employers']

In [12]:
train_dataset[cat_feats].head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,ANAMBRA,No,Married,No,No,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,ANAMBRA,Yes,Married,No,No,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,KATSINA,Yes,Married,No,No,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,NIGER,Yes,Single,No,No,1
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,AKWA IBOM,Yes,Married,No,No,1

In [13]:
train_dataset["EmployeeNo"].nunique()

38312

In [14]:
train_dataset.drop('EmployeeNo', axis=1, inplace=True)
test_dataset.drop('EmployeeNo', axis=1, inplace=True)

In [15]:
train_dataset.head()

,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [16]:
cat_feats.remove('EmployeeNo')
for cat in cat_feats:
    print(cat)
    print(train_dataset[cat].nunique())
    print("..............")

Division
9
..............
Qualification
3
..............
Gender
2
..............
Channel_of_Recruitment
3
..............
State_Of_Origin
37
..............
Foreign_schooled
2
..............
Marital_Status
3
..............
Past_Disciplinary_Action
2
..............
Previous_IntraDepartmental_Movement
2
..............
No_of_previous_employers
7
..............

In [17]:
train_dataset.shape

(38312, 18)

In [18]:
test_dataset.shape

(16496, 17)

In [19]:
#Join train and test set
newtrain = train_dataset.shape[0]
newtest = test_dataset.shape[0]

combined_dataset = pd.concat([train_dataset, test_dataset],ignore_index=True, sort=True)

In [20]:
combined_dataset.shape

(54808, 18)

In [21]:
cols_2_label_enc = ['State_Of_Origin', 'Division', 'No_of_previous_employers']

In [22]:
from sklearn.preprocessing import LabelEncoder

#create an instance
lb = LabelEncoder() #create an object before using

for cat in cols_2_label_enc:
    lb.fit(combined_dataset[cat]) #Fit the column by learning what values to use for encoding
    combined_dataset[cat] = lb.transform(combined_dataset[cat]) #transform the column with the learnt value

In [23]:
combined_dataset.head()=

,Channel_of_Recruitment,Division,Foreign_schooled,Gender,Last_performance_score,Marital_Status,No_of_previous_employers,Past_Disciplinary_Action,Previous_Award,Previous_IntraDepartmental_Movement,Promoted_or_Not,Qualification,State_Of_Origin,Targets_met,Training_score_average,Trainings_Attended,Year_of_birth,Year_of_recruitment
0,Direct Internal process,1,No,Female,12.5,Married,0,No,0,No,0.0,"MSc, MBA and PhD",3,1,41,2,1986,2011
1,Agency and others,2,Yes,Male,12.5,Married,0,No,0,No,0.0,First Degree or HND,3,0,52,2,1991,2015
2,Direct Internal process,1,Yes,Male,7.5,Married,0,No,0,No,0.0,First Degree or HND,20,0,42,2,1987,2012
3,Agency and others,1,Yes,Male,2.5,Single,1,No,0,No,0.0,First Degree or HND,26,0,42,3,1982,2009
4,Direct Internal process,4,Yes,Male,7.5,Married,1,No,0,No,0.0,First Degree or HND,2,0,77,3,1990,2012

ONE HOT ENCODING THE REST COLUMNS IN THE DATASET

In [24]:
combined_dataset = pd.get_dummies(combined_dataset)

In [25]:
combined_dataset.head()

,Division,Last_performance_score,No_of_previous_employers,Previous_Award,Promoted_or_Not,State_Of_Origin,Targets_met,Training_score_average,Trainings_Attended,Year_of_birth,...,Marital_Status_Married,Marital_Status_Not_Sure,Marital_Status_Single,Past_Disciplinary_Action_No,Past_Disciplinary_Action_Yes,Previous_IntraDepartmental_Movement_No,Previous_IntraDepartmental_Movement_Yes,Qualification_First Degree or HND,"Qualification_MSc, MBA and PhD",Qualification_Non-University Education
0,1,12.5,0,0,0.0,3,1,41,2,1986,...,1,0,0,1,0,1,0,0,1,0
1,2,12.5,0,0,0.0,3,0,52,2,1991,...,1,0,0,1,0,1,0,1,0,0
2,1,7.5,0,0,0.0,20,0,42,2,1987,...,1,0,0,1,0,1,0,1,0,0
3,1,2.5,1,0,0.0,26,0,42,3,1982,...,0,0,1,1,0,1,0,1,0,0
4,4,7.5,1,0,0.0,2,0,77,3,1990,...,1,0,0,1,0,1,0,1,0,0

In [26]:
#get back train and test sets
train_dataset = combined_dataset[0:newtrain]
test_dataset = combined_dataset[newtrain:]

In [27]:
train_dataset.shape

(38312, 28)

In [28]:
test_dataset.shape

(16496, 28)

In [29]:
train_dataset.head().T

,0,1,2,3,4
Division,1.0,2.0,1.0,1.0,4.0
Last_performance_score,12.5,12.5,7.5,2.5,7.5
No_of_previous_employers,0.0,0.0,0.0,1.0,1.0
Previous_Award,0.0,0.0,0.0,0.0,0.0
Promoted_or_Not,0.0,0.0,0.0,0.0,0.0
State_Of_Origin,3.0,3.0,20.0,26.0,2.0
Targets_met,1.0,0.0,0.0,0.0,0.0
Training_score_average,41.0,52.0,42.0,42.0,77.0
Trainings_Attended,2.0,2.0,2.0,3.0,3.0
Year_of_birth,1986.0,1991.0,1987.0,1982.0,1990.0
Year_of_recruitment,2011.0,2015.0,2012.0,2009.0,2012.0
Channel_of_Recruitment_Agency and others,0.0,1.0,0.0,1.0,0.0
Channel_of_Recruitment_Direct Internal process,1.0,0.0,1.0,0.0,1.0
Channel_of_Recruitment_Referral and Special candidates,0.0,0.0,0.0,0.0,0.0
Foreign_schooled_No,1.0,0.0,0.0,0.0,0.0
Foreign_schooled_Yes,0.0,1.0,1.0,1.0,1.0
Gender_Female,1.0,0.0,0.0,0.0,0.0
Gender_Male,0.0,1.0,1.0,1.0,1.0
Marital_Status_Married,1.0,1.0,1.0,0.0,1.0
Marital_Status_Not_Sure,0.0,0.0,0.0,0.0,0.0
Marital_Status_Single,0.0,0.0,0.0,1.0,0.0
Past_Disciplinary_Action_No,1.0,1.0,1.0,1.0,1.0
Past_Disciplinary_Action_Yes,0.0,0.0,0.0,0.0,0.0
Previous_IntraDepartmental_Movement_No,1.0,1.0,1.0,1.0,1.0
Previous_IntraDepartmental_Movement_Yes,0.0,0.0,0.0,0.0,0.0
Qualification_First Degree or HND,0.0,1.0,1.0,1.0,1.0
"Qualification_MSc, MBA and PhD",1.0,0.0,0.0,0.0,0.0
Qualification_Non-University Education,0.0,0.0,0.0,0.0,0.0

In [30]:
# Getting our target
target = train_dataset['Promoted_or_Not']

train_dataset.drop('Promoted_or_Not', axis=1, inplace=True)
test_dataset.drop('Promoted_or_Not', axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [31]:
#Split dataset into the training set and test test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(train_dataset, target, test_size=0.25)

In [32]:
X_train.shape

(28734, 27)

In [33]:
X_test.shape

(9578, 27)

In [34]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import f1_score
from lightgbm import LGBMClassifier

In [35]:
# rf = RandomForestClassifier(n_estimators=1000)
# rf.fit(X_train, y_train)

In [36]:
# pred = rf.predict(X_test)

In [37]:
# f1_score(pred, y_test)

In [50]:
lgb_model = LGBMClassifier(n_estimators=1550, max_depth=6, learning_rate=0.01, random_state=0)
lgb_model.fit(X_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        importance_type='split', learning_rate=0.01, max_depth=6,
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=1550, n_jobs=-1, num_leaves=31, objective=None,
        random_state=0, reg_alpha=0.0, reg_lambda=0.0, silent=True,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [51]:
predict = lgb_model.predict(X_test)

In [52]:
f1_score(predict, y_test)

0.48892825509300264

In [41]:
# gb = GradientBoostingClassifier(n_estimators=550, max_depth=5)
# gb.fit(X_train, y_train)

In [42]:
# gb_pred = gb.predict(X_test)
# f1_score(gb_pred, y_test)

In [43]:
lgb_model.fit(train_dataset, target)
overall_prediction = lgb_model.predict(test_dataset)

In [44]:
sample_dataset = pd.read_csv('sample_submission2.csv')
tes = pd.read_csv('test.csv')
testid = tes['EmployeeNo']
sample_dataset.head()

    EmployeeNo  Promoted_or_Not
0  YAK/S/34385                1
1  YAK/S/27825                1
2  YAK/S/23870                1
3  YAK/S/54784                1
4  YAK/S/25058                1

In [45]:
sample_dataset['EmployeeNo'] = testid
sample_dataset['Promoted_or_Not'] = overall_prediction.astype('int64')
sample_dataset.head()

    EmployeeNo  Promoted_or_Not
0  YAK/S/00005                0
1  YAK/S/00011                0
2  YAK/S/00015                0
3  YAK/S/00016                0
4  YAK/S/00017                0

In [46]:
sample_dataset.to_csv('David_summit1.csv', index=False)